<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link th:href="@{/css/index.css}" rel="stylesheet" />
</head>
<body>
    <div class="contanier">
        <h1>Edit</h1>
        <form th:action="@{/update/{id}(id=*{id})}"  th:method="POST" th:object="${bookdata}">
            <div class="form-group">
                <label>本のタイトル</label>
                <input type="text" name="title" th:field="*{title}">
                <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
            </div>
            <div class="form-group">
                <label>感想・学んだこと</label>
                <input type="text" name="impression" th:field="*{impression}">
            </div>
            <div class="form-group">
                <label>読み始めた日</label>
                <input type="date" name="startdate" th:field="*{startdate}">
            </div>
            <div class="form-group">
                <label>読み終えた日</label>
                <input type="date" name="enddate" th:field="*{enddate}">
            </div>
            <div class="form-group">
                <label>ジャンル</label>
                <input type="text" name="genre" th:field="*{genre}">
            </div>
            <div class="form-group">
                <label>読み切った</label>
                <input type="checkbox" name="done" th:field="*{done}">
            </div>
            <button type="submit">変更</button>
        </form>
    </div>
</body>
</html>