<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link th:href="@{/css/index.css}" rel="stylesheet" />
</head>
<body>
    <div class="contanier">
        <h1>Edit</h1>
        <form th:action="@{/update/{id}(id=*{id})}"  th:method="POST" th:object="${bookdata}">
            <label>本のタイトル</label>
            <input type="hidden" th:field="*{id}">
            <input type="text" name="title" th:field="${bookdata.title}">
            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
            <button type="submit">変更</button>
        </form>
    </div>
</body>
</html>