<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <link th:href="@{/css/index.css}" rel="stylesheet">
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
            <a class='navbar-brand' th:href=@{"/"}>ReadBook</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a th:href="@{'/new'}" class="nav-link">新規作成</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/}" class="nav-link">一覧画面</a>
                    </li>
                    <li class="nav-item">
                        <form th:action="@{/search/}" th:method="get" class="nav-link">
                            <input type="text" name="keyword">
                            <span><input type="submit" value="search"></span>
                        </form>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDoneLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            読書状況
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownDoneLink">
                            <a class="dropdown-item"  th:href="@{/searchBool/{bool}(bool=false)}">未読了</a>
                            <a class="dropdown-item" th:href="@{/searchBool/{bool}(bool=true)}">読了</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownGenreLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ジャンル
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownGenreLink">
                            <div th:each="genre:${hello}">
                                <a class="dropdown-item"  th:href="@{/searchGenre/{genre}(genre=${genre})}" th:text="${genre}"></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
        <table class="table">
            <tr>
                <th scope="col">本のタイトル</th>
                <th scope="col">読了</th>
            </tr>
            <tr th:each="data:${bookdata}">
                <td><a th:href="@{/show/{id}(id=${data.id})}"><span th:text="${data.title}"></span></a></td>
                <td th:text="${data.done}"></td>
                <td><a th:href="@{/edit/{id}(id=${data.id})}">Edit</a></td>
                <form th:action="@{/delete/{id}(id=${data.id})}" th:method="POST">
                    <td><input type="submit" value="削除"></td>
                </form>
            </tr>
        </table>
    <div th:if="${bookdata}" th:fragment='pagination'>
        <ul>
            <li th:class="${bookdata.first}" style="display:inline">
                <span th:if="${bookdata.first}">←先頭</span>
                <a th:if="${not bookdata.first}" th:href="@{${url}(page=0)}">←先頭</a>
            </li>
            <li th:each='i : ${#numbers.sequence(0, bookdata.totalPages-1)}' th:class="(${i}==${bookdata.number})? 'active' : ''" style="display:inline">
                <span th:if='${i}==${bookdata.number}' th:text='${i+1}'>1</span>
                <a th:if="${bookdata.number} != ${i}" th:href="@{${url}(page=${i},keyword=${param.keyword})}">
                    <span th:text='${i+1}'></span>
                </a>
            </li>
            <li th:class="${bookdata.last}" style="display:inline">
                <span th:if="${bookdata.last}">末尾➝</span>
                <a th:if="${not bookdata.last}" th:href="@{${url}(page=(${bookdata.totalPages}-1))}">末尾➝</a>
            </li>
        </ul>
    </div>
    </body>
</html>

